{{#extend "layout"}}
    {{#content "header"}}
        <title>Geist</title>
        <!-- <link key="layout" rel="stylesheet" href="/static/auth/layouts/default.min.css" />, -->
        <!-- <link key="page" rel="stylesheet" href="/static/auth/pages/admin.min.css" /> -->
        <link rel="stylesheet", href="/static/foundation-icons/foundation-icons.css" />
    {{/content}}


    {{#content "main"}}
        <!-- <script src="/static/auth/admin.bundle.js"></script>; -->
        <script>var INITIAL_STATE = {{{ INITIAL_STATE }}}</script>
        <div id="app"></div>
        <script src="{{protocol}}://{{host}}{{port}}/static/{{fileName}}"></script>
    {{/content}}
{{/extend}}
