{{#extend "layout"}}
    {{#content "header"}}
        <title>GeistMap</title>
    {{/content}}


    {{#content "main"}}
        <script>var INITIAL_STATE = {{{ INITIAL_STATE }}}</script>
        <div id="root"></div>
        <script crossorigin src="{{protocol}}://{{host}}{{port}}/static/{{fileName}}"></script>
    {{/content}}
{{/extend}}
