| Welcome to #{projectName}!
= '\n'
= '\n'
| Thanks for signing up. Please find your details below.
= '\n'
= '\n'
| Username: #{username}
| Email: #{email}
= '\n'
= '\n'
| Login Here: #{loginURL}
= '\n'
= '\n'
| — The #{projectName} team
